$defBlue: rgba(0,44,113,1);
$defWhite: rgba(255,255,255,1);
$defLightBlue: rgba(130,152,185,1);
$defOrange: rgba(255,166,64,1);
$defGray: rgba(151,151,151, .1);
$defBlack: rgba(68,68,68,1);
$defBlackAfter: rgba(235,235,235,1);
$defShadow: rgba(172,172,172,0.50);